<div class="card text-center">
  <div class="card-header"><b>Task: <%= task.title.upcase %> </b></div>
  <div class="card-body">

    <% if policy(task).destroy? %> 
      <%= button_to "Destroy this task", task, class: 'btn btn-secondary my-2', 
        form: { data: { turbo_confirm: 'Are you sure?' } }, method: :delete %>
    <% end %>

    <h5 class="card-title"><b>For user </b><%= link_to task.user.full_name, user_path(task.user), 
      class: 'link-success' %></h5>
    <p class="card-text"><b>Ğ¡reated by: </b><%= link_to task.author.full_name, 
      user_path(task.author), class: 'link-dark' %></p>
    <p class="card-text"><b>Date of creation: </b><%= l(task.created_at, format: :long) %></p>
    <p class="card-text"><b>Status: </b><%= task.status.upcase %></p>

    <% if policy(task).update_status? %> 
      <%= render 'partial/update_status', task: task %>
    <% end %>

  </div>
  <div class="card-footer text-muted">
    <p class="card-text"><b>Last update: </b><%= l(task.updated_at, format: :long) %></p>
  </div>
</div>
