<div class='row mt-5'>
  <div class='col-3'>
    <%= render "user", user: @user %>
  </div>

  <div class='col-9'>
    <%= render "tasks/form", task: @task %>
  </div>
</div>

<h2 class='my-5 text-center'>Tasks at work</h2>

<table class="table table-bordered">
  <thead class='table-dark'>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tasks</th>
      <th scope="col">Task creator</th>      
      <th scope="col">Task status</th>
      <th scope="col">Update status</th>
    </tr>
  </thead>
  <tbody>

  <% @tasks.each.with_index(1) do |task, index| %> 
    <tr class="table-<%= table_tr_color(task.status) %>">
      <th scope="row"><%= index %></th>
      <td><%= link_to task.title, task_path(task), class: 'link-success' %></td>
      <td><%= link_to task.author.full_name, user_path(task.author), class: 'link-dark' %></td>
      <td><%= task.status.upcase %></td>
      <td>

        <% if policy(task).update_status? %>
          <%= render 'partial/update_status', task: task %>
        <% else %>
          <%= button_to 'Unavailable', '#', class: 'btn btn-sm btn-secondary', disabled: true, method: :put %>  
        <% end %>

      </td>
    </tr>
  <% end %>

  </tbody>
</table>
