<section class="mx-auto">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h2 class="text-center mb-4">Change your password</h2>
        
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-floating mb-3">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", 
                 id: "floatingPassword", placeholder: 'Password (6 characters minimum)' %>
            <%= f.label :password, for: "floatingPassword" %>
          </div>

          <div class="form-floating mb-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", 
              class: "form-control form-control-lg", id: "floatingPassword", placeholder: "Enter password" %>
            <%= f.label :password_confirmation, "Confirm new password", for: "floatingPassword", class: "form-label" %>
          </div>

          <div class="d-grid gap-2">
            <%= f.submit "Change my password", class: "btn btn-secondary btn-block mb-4" %>
            <%= render "devise/shared/links" %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</section>
